.user-clocks {
width: 100%;
float: left;
}

.clock {
	border: 2px solid #48A9E4;
	margin: 5px;
	padding: 5px;
	width: 32%;
	float: left;
}

.clock .advance-clock-date { 
	text-align: center;
}

.clock .advance-clock-location { 
	text-align: center;
}

.clock ul { 
	list-style:none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-weight: bold;
}

.clock ul li { 
	display:inline;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.clock #point { 
	position:relative;
	-moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; 
	padding-left: 1px; 
	padding-right: 1px; 
}

.clock .format {
	padding-left: 3px; 
}